@import url(https://fonts.googleapis.com/css?family=Molle:400italic&subset=latin,latin-ext);
body{
background-color: hsla(0,0%,0%,1);
margin: 0px;
overflow: hidden;
font-family: 'Lobster Two', cursive;
  overflow: scroll;
}
h2{
  margin-top: 5%;
  margin-bottom:20%;
  text-align: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50%);
  font-size:3em;
  color: whitesmoke;
  border: 8px solid white;
  border-radius: 20px;
  border-style: groove;
  padding: 10px;
  overflow: scroll;


}

@media only screen and (max-width: 600px) {
    margin-top:20%;
    margin-bottom:20%;
    margin-right:20%;
    margin-left:20%;
    overflow:scroll;
}
